---
layout: base.njk
title: "Bonus Homework: ChatGPT2 (3 bonus pts.)"
icon: fa-book
navigation:
  - name: "Home"
    link: "index.html"
    icon: "fa-gavel"
permalink: "bonus_homework.html"
---

<div class="thumbnail">
<img src="static/img/meme.jpg" class="img-responsive"/>
</div>

<h2>Task 1: Blog Post</h2>

<p>For this bonus homework, just follow and implement the instructions in this blog post:</p>

<p><a href="https://jaykmody.com/blog/gpt-from-scratch/">GPT in 60 Lines of NumPy</a></p>

<p>Then either bring in your working model to demonstrate to me or a TA, or send a video of
it working on your machine, and submit your own version of the code.</p>

<p>To submit your work, please upload your code to the canvas assignment.</p>