---
layout: base.njk
title: "Bonus Homework: ChatGPT2 (2 bonus pts.)"
icon: fa-book
navigation:
  - name: "Home"
    link: "index.html"
    icon: "fa-gavel"
permalink: "bonus_homework.html"
---

<div class="thumbnail">
<img src="static/img/meme.jpg" class="img-responsive"/>
</div>

<h2>Task 1: Blog Post</h2>

<p>For this bonus homework, just follow and implement the instructions in this blog post:</p>

<p><a href="https://jaykmody.com/blog/gpt-from-scratch/">GPT in 60 Lines of NumPy</a></p>

<p>Then either bring in your working model to demonstrate to me or a TA, or send a video of
it working on your machine, and submit your own version of the code.</p>

<p>To submit your answers, you will need add your <code>bonus_homework.py</code> file
in the <code>bonus_homework</code> folder of your <strong>assignments</strong> repository:</p>

<p>Answer the questions in your notebook file using the method of your choice and
once you are finished, follow the instructions below to submit your notebook.</p>

<ol>
<li><p>For this class, you must use a <strong>separate git branch for each
assignment</strong>.  This means that the work for each reading and challenge must
be done in a separate branch.  To create and checkout a new branch, you can
do the following:</p>

<pre><code>$ git checkout main         # Make sure we are in master branch
$ git pull --rebase           # Make sure we are up-to-date with github repository

$ git checkout -b bonus_homework   # Create bonus_homework branch and check it out</code></pre>

<p>Once you do the above, you should see the following output for the
git-branch command:</p>

<pre><code>$ git branch
  main
  homework00
  homework01
  homework02
  homework03
  homework04
  homework05
  bonus_homework</code></pre>

<p>The <code>*</code> indicates that we are currently on the <code>bonus_homework</code> branch.</p>
</li>

<li><p>Once you have your notebook filled out, you need to add, commit the file, and
push your commits to <a href="https://github.com">GitHub</a>:</p>

<pre><code>$ git add bonus_homework.py                # Add answers.json to staging area
$ git commit -m "Bonus Homework: Done"    # Commit work

$ git push -u origin bonus_homework        # Push branch to GitHub</code></pre>

<div class="alert alert-success">
<strong>Note</strong>: You may edit and commit changes to your branch as many times
as you wish.  Just make sure all of your work goes in the appropriate
branch and then perform a <code>git push</code> when you are done.
</div>
</li>

<li><p>When you are ready for your final submission, you need to create a
<strong>pull request</strong> via the <a href="https://github.com">GitHub</a> interface:</p>

<ul>
<li><p>First, go to your repository's <strong>Branches</strong> page and then press the
<strong>New pull request</strong> button for the appropriate branch:</p>

<div class="thumbnail">
<img src="static/img/pr_step_1.png" class="img-responsive"/>
</div>
</li>

<li><p>Next, edit the <strong>pull request</strong> title to "Bonus Homework", write a
comment if necessary and then press the "Create pull request" button.</p>

<div class="thumbnail">
<img src="static/img/pr_step_2.png" class="img-responsive"/>
</div>
</li>

<li><p>Finally, assign the <strong>pull request</strong> to the <strong>teaching assistant</strong>
assigned to you for the given week.</p>

<div class="thumbnail">
<img src="static/img/pr_step_3.png" class="img-responsive"/>
</div>
</li>
</ul>
</li>
</ol>

<div class="alert alert-info">
<h4><i class="fa fa-gavel"></i> Graders</h4>
<p>Please refer to the <a href="homework05_tas.html">Homework 05 TA List</a> to determine
who your grader is for the assignment is.</p>
</div>

<p>Once you have made the <strong>pull request</strong>, the instructor or teaching
assistant can verify your work and provide feedback via the discussion form
inside the <strong>pull request</strong>.  If necessary, you can update your submission
by simply committing and pushing to the appropriate branch; the <strong>pull
request</strong> will automatically be updated to match your latest work.</p>

<p>When all work is graded, the grader will merge your branch and close the
<strong>pull request</strong>.</p>

<div class="alert alert-danger">
<strong>Note</strong>: Please <strong>do not merge</strong> your own <strong>pull request</strong>.  This makes it
more difficult for the graders to keep track of what needs to be graded.
</div>

<div class="alert alert-success">
<h4><i class="fa fa-thumbs-up"></i> Qualitative Feedback</h4>
<p>The purpose of this workflow is to provide you with better feedback.
Instead of simply determining if your work is correct, the instructor will
attempt to provide you with more <strong>qualitative feedback</strong> such as whether
or not you used good programming practices or if your code could be
improved or organized better.</p>
<p>The hope is that this will help you grow as programmers and develop some
<strong>taste</strong> :).</p>
</div>
