---
layout: base.njk
title: "CIF Bribe (1 bonus pt.)"
icon: fa-book
navigation:
  - name: "Home"
    link: "index.html"
    icon: "fa-gavel"
permalink: "cif_bribe.html"
---

<div class="thumbnail">
<img src="static/img/bribe.png" class="img-responsive"/>
</div>

<h2>Task 1: Fill out your CIFs</h2>

<div class="alert alert-success">
For this bonus homework, if we get at least an <b>85%</b> response rate for the CIFS in this class,
everyone will get 1 bonus point.
</div>
